<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PHPSandbox - {{ subdomain }}</title>
    <link rel="icon" href="https://phpsandbox.io/assets/img/brand/phpsandbox.png" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="h-screen bg-indigo-700 flex flex-col items-center justify-center font-sans" style="font-family: 'Nunito', sans-serif">
    <div class="font-medium items-center text-center justify-center">
        <h1 style="font-size: 10rem;" class="text-white">Uh Oh!</h1>

        <p class="text-white mb-6 font-semibold">The notebook "{{ subdomain }}" hasn't been started.</p>

        <a href="https://phpsandbox.io" class="p-3 bg-indigo-900 text-white rounded-full">
            Go back to PHPSandbox.
        </a>
    </div>
</div>
</body>
</html>
